{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Total Victims
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Total Suspects
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Total BPO
                </div>
              </div>
        </div>
    </div><!--End of row-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Child Victims
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Open Cases
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="card">
                <div class="card-body">
                  Close Cases
                </div>
              </div>
        </div>
    </div><!--End of row-->

</div>

{% endblock %}
{% endblock content %}