{% extends "main.html" %}


{% block content %}


<div class="container pt-5 pb-5">
    <div class="card">
      <div class="card-body">
        <div class="pt-3">
            <a class="text-decoration-none" href="{% url 'report' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
        </div><!--End of button-->
        
        <h1 class="text-center pt-3"><strong>File a VAWC Report</strong></h1>
        <h1 class="text-center pt-3"><strong>Contact Person Information</strong></h1>

       <div class="row pt-5">
        <div class="col-lg-3 col-md-3 col-sm-8 pb-2">
            <label for="firstname" class="form-label">First Name: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-3 col-md-3 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Middle Name: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-3 col-md-3 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Last Name: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-3 col-md-3 col-sm-8 pb-2">
                <label for="victim-Suffix" class="form-label">Suffix: </label>
                <select id="victim-Suffix" class="form-select">
                  <option value="not-available">N/A</option>
                  <option value="sr">Sr</option>
                  <option value="jr">Jr</option>
                  <option value="ii">II</option>
                  <option value="iii">III</option>
                  <option value="iv">IV</option>
                </select>
          </div><!--end of col-->
       </div><!--End of row-->

       <div class="row pt-2">
        <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Relationship to the Victim: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->

          <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Street: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Barangay: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
       </div><!--end of row-->

       <div class="row pt-2 pb-3">
        <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">City: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Contact No.: </label>
            <input type="number" class="form-control" id="firstname">
          </div><!--end of col-->
          <div class="col-lg-4 col-md-4 col-sm-8 pb-2">
            <label for="firstname" class="form-label">Telephone No.: </label>
            <input type="text" class="form-control" id="firstname">
          </div><!--end of col-->
       </div><!--end of row-->

       
       <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
        <a class="btn btn-outline-primary me-md-2" href="{% url 'report' %}" role="button">Back</a>
        <a class="btn btn-primary" href="{% url 'behalf victim' %}" role="button">Next</a>
        </div><!--end of buttons-->
      </div><!--end of card body-->
    </div><!--end of card-->
  </div><!--end of container-->



{% endblock content %}