{% extends "main.html" %}


{% block content %}


<div class="container pt-5 pb-5">
    <div class="card">
      <div class="card-body">
        
        <h1 class="text-center pt-3"><strong>File a VAWC Report</strong></h1>


        <h1 class="text-center pt-3"><strong>Crisis Intervention Including Rescue</strong></h1>

        <p class="pt-5 pb-5 fs-4 text-center">Thank you for reporting! Your report help us to maintain a safe and enjoyable environment for everyone. We'll review the issue promptly. If necessary, we'll take appropriate action. Your contribution is appreciate!</p>
       
        <a class="btn btn-primary w-100" href="{% url 'home' %}" role="button">Done</a>

      </div><!--end of card body-->
    </div><!--end of card-->
  </div><!--end of container-->



{% endblock content %}