{% extends "main.html" %}

{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'home' %}"><button type="button" class="btn-close d-flex ms-auto" aria-label="Close"></button></a>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 pt-5">
                    <img src= "{% static '/img/login.png' %}" class="img-fluid" alt="image">
                </div>
            <div class="col-lg-6 col-md-6 col-sm-8 pt-5">
                <h2 class="text-center pt-3 pb-3">Log In</h2>
                    <div class="row pb-2">
                        <div class="col-lg-12 col-md-12 col-sm-8 pt-2"> <!--lastname-->
                            <label for="victim-firstname" class="form-label">Email: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                    </div><!--First row-->
                    <div class="row pb-2">
                        <div class="col-lg-12 col-md-12 col-sm-8 pt-2"> <!--lastname-->
                            <label for="victim-firstname" class="form-label">Passkey: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                    </div><!--third row-->
                    <div class="col-12 col-md-12 col-sm-8 pt-3 pt-2">
                        <a href="{% url 'barangay' %}"><button class="btn btn-lg btn-primary w-100" type="button">Log In</button></a>
                        </button>
                    </div>
                </div>
                
            </div>
      </div>
    </div>
</div>
{% endblock %}
{% endblock content %}