{% extends "main.html" %}

{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5 pb-5">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn-close d-flex ms-auto" aria-label="Close"></button>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 pt-5">
                    <img src= "{% static '/img/signup.png' %}" class="img-fluid" alt="image">
                </div>
            <div class="col-lg-6 col-md-6 col-sm-8 pt-5">
                <h2 class="text-center pt-3 pb-3">Sign Up</h2>
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--lastname-->
                            <label for="victim-firstname" class="form-label">Agency: </label>
                            <select id="victim-Suffix" class="form-select">
                                <option value="barangay">Barangay</option>
                                <option value="police">Police</option>
                                <option value="dswd">DSWD</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--lastname-->
                            <label for="victim-firstname" class="form-label">Agency Address: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                    </div><!--First row-->
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--Firstname-->
                            <label for="victim-firstname" class="form-label">First Name: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--middlename-->
                            <label for="victim-firstname" class="form-label">Middle Name: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                        
                    </div><!--second row-->
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--lastname-->
                            <label for="victim-firstname" class="form-label">Last Name: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--suffix-->
                            <label for="victim-Suffix" class="form-label">Suffix: </label>
                            <select id="victim-Suffix" class="form-select">
                            <option value="not-available">N/A</option>
                            <option value="sr">Sr</option>
                            <option value="jr">Jr</option>
                            <option value="ii">II</option>
                            <option value="iii">III</option>
                            <option value="iv">IV</option>
                        </select>
                        </div>
                    </div><!--third row-->
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--email-->
                            <label for="victim-firstname" class="form-label">Email: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--contact-->
                            <label for="victim-firstname" class="form-label">Contact Number: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                    </div><!--fourth row-->
                    <div class="row pb-2">
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--password-->
                            <label for="victim-firstname" class="form-label">Password: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 pt-2"> <!--confirm pass-->
                            <label for="victim-firstname" class="form-label">Confirm Password: </label>
                            <input type="text" class="form-control" id="victim-firstname">
                        </div>
                    </div><!--fifth row-->
                    <div class="col-12 col-md-12 col-sm-8 pt-3 pt-2">
                        <button class="btn btn-lg btn-primary w-100" type="button">Sign Up</button>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 col-sm-8">
                            <button type="button" class="btn btn-link w-100"><a href="#">Have an account?</a></button>
                        </div>
                    </div>
                </div>
                
            </div>
      </div>
    </div>
</div>
{% endblock %}
{% endblock content %}