{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5 pb-3">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay services info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-2">
        <h1 class="pt-3 text-center">Barangay Protection Order Application Form</h1>
        <h4 class="text-center">Republic of the Philippines</h4>
        <h4 class="text-center">Province of ____</h4>
        <h4 class="text-center">City / Municipality ____</h4>
        <h4 class="text-center">Barangay ____</h4>


       
        <div class="row pt-3">
            <h5 class="pb-3"><strong>1. NAME OF APPLICANT:</strong></h5>
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">First Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Middle Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Last Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="not-available">N/A</option>
                      <option value="sr">Sr</option>
                      <option value="jr">Jr</option>
                      <option value="ii">II</option>
                      <option value="iii">III</option>
                      <option value="iv">IV</option>
                    </select>
                    <label for="floatingSelect">Suffix</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Date of Birth:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Relationship to Victim/s:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Tel. No.:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Occupation:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Address:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <h5 class="pb-3"><strong>2. NAME OF VICTIM:</strong></h5>
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">First Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Middle Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Last Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="not-available">N/A</option>
                      <option value="sr">Sr</option>
                      <option value="jr">Jr</option>
                      <option value="ii">II</option>
                      <option value="iii">III</option>
                      <option value="iv">IV</option>
                    </select>
                    <label for="floatingSelect">Suffix</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Date of Birth:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8 pb-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="single">Single</option>
                      <option value="married">Married</option>
                      <option value="live-in">Live-In</option>
                      <option value="widowed">Widowed</option>
                      <option value="separated">Separated</option>
                    </select>
                    <label for="floatingSelect">Civil Status:</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Tel. No.:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Occupation / Source of Income:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Address:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <a class="btn btn-primary w-100" href="#" role="button"><i class="bi bi-plus-lg"></i></a>

        <div class="row pt-4">
            <h5 class="pb-3"><strong>3. NAME OF CHILDREN:</strong></h5>
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">First Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Middle Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Last Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="not-available">N/A</option>
                      <option value="sr">Sr</option>
                      <option value="jr">Jr</option>
                      <option value="ii">II</option>
                      <option value="iii">III</option>
                      <option value="iv">IV</option>
                    </select>
                    <label for="floatingSelect">Suffix</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Date of Birth:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="15">
                    <label for="floatingInput">Age:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8 pb-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                    <label for="floatingSelect">Sex</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <a class="btn btn-primary w-100" href="#" role="button"><i class="bi bi-plus-lg"></i></a>

        <div class="row pt-4">
            <h5 class="pb-3"><strong>4. NAME OF RESPONDENT:</strong></h5>
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">First Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Middle Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Last Name:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="not-available">N/A</option>
                      <option value="sr">Sr</option>
                      <option value="jr">Jr</option>
                      <option value="ii">II</option>
                      <option value="iii">III</option>
                      <option value="iv">IV</option>
                    </select>
                    <label for="floatingSelect">Suffix</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Date of Birth:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="15">
                    <label for="floatingInput">Age:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8 pb-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                    <label for="floatingSelect">Sex</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        
        <div class="row pt-3">
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Occupation / Source of Income:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Tel. No.:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                    <label for="floatingInput">Address:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        
        <div class="row pt-4">
            <h5 class="pb-3"><strong>5. RELATIONSHIP OF VICTIM TO RESPONDENT:</strong></h5>
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="not-available">Wife</option>
                      <option value="sr">Former Wife</option>
                      <option value="jr">Live-in Relationship</option>
                      <option value="ii">Dating Relationship</option>
                      <option value="iii">Sexual Relationship</option>
                    </select>
                    <label for="floatingSelect">Relationship of victim to respondent:</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="row pt-4">
            <h5 class="pb-3"><strong>6. ACTS COMPLAINED OF:</strong></h5>
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="threats">Threats</option>
                      <option value="pyhsical-injuries">Physical Injuries</option>
                    </select>
                    <label for="floatingSelect">Acts of Complain of:</label>
                  </div>
            </div><!--End of col-->
        </div><!--end of row-->

        <div class="pt-3">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><strong>Description:</strong></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <h5 class="pb-3"><strong>7. DATE OF COMMISSION:</strong></h5>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="Sofia">
                <label for="floatingInput">Date of Commission:</label>
              </div>
              <a class="btn btn-primary w-100" href="#" role="button"><i class="bi bi-plus-lg"></i></a>
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <h5 class="pb-3"><strong>8. PLACE OF COMMISSION:</strong></h5>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Sofia">
                <label for="floatingInput">Place of Commission:</label>
              </div>
              <a class="btn btn-primary w-100" href="#" role="button"><i class="bi bi-plus-lg"></i></a>
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="pt-4">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><h5 class="pb-3"><strong>9. IF APPLICANTS IS NOT THE VICTIM, STATE THE CIRCUMSTANCES OF CONSENT:</strong></h5></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
        <a class="btn btn-outline-primary me-md-2" href="#" role="button">Print File</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Save</button>
      </div>

      <div class="pt-3 pb-3">
        <hr>
    </div>

    <h1 class="pt-3 pb-3">Referral</h1>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <h4>Refer to Social Welfare and Development Office</h4>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-2">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <strong>Psychosocial Services</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Emergency Shelter</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Economic Assistance</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <h4>Refer to Healthcare Provider</h4>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="General">
                <label for="floatingInput">Name of Healthcare</label>
              </div>
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-2">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <strong>Provision of appropriate medical treatment</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Issuance of medical certificate</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Medico-legal Exam</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <h4>Refer to Law Enforcement</h4>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="General">
                <label for="floatingInput">Name of Agency</label>
              </div>
        </div><!--end of col-->
    </div><!--end of row--> 

    <div class="row pt-2">
        <div class="col-lg-3 col-md-3 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <strong>Receipt and recording of Complaints</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-3 col-md-3 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Rescue Operations for VAW Cases</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-3 col-md-3 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Enforcement of Protection Order</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->

        <div class="col-lg-3 col-md-3 col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    <strong>Forensic Interview and Investigation</strong>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-4">
        <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                <h4>Refer to Other Service Provider</h4>
                </label>
              </div><!--end of form-->
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="General">
                <label for="floatingInput">Name of Service Provider</label>
              </div>
        </div><!--end of col-->
    </div><!--end of row--> 

    <div class="row pt-2">
        <div class="col-lg-12 col-md-12 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="General">
                <label for="floatingInput">Type of Service</label>
              </div>
        </div><!--end of col-->
    </div><!--end of row--> 


    <div class="pt-3 pb-3">
        <hr>
    </div>

    <h1 class="pt-3 pb-3 text-center">Referral Form</h1>

        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="564584">
                    <label for="floatingInput">Case No.:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Date of Referral:</label>
                  </div>
            </div><!--end of col-->
        </div><!---end of row-->

        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="1">Social Welfare and Development Office</option>
                      <option value="2">Health provider</option>
                      <option value="3">Law Enforcement</option>
                      <option value="3">Name of Service Provider</option>
                    </select>
                    <label for="floatingSelect">To Agency:</label>
                  </div>
            </div><!--end of col-->
        </div><!---end of row-->

        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                        <label for="floatingInput">Complete Address:</label>
                      </div>
            </div><!--end of col-->
        </div><!---end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                        <label for="floatingInput">Contact Person:</label>
                      </div>
            </div><!--end of col-->
        </div><!---end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                        <label for="floatingInput">Name of Client:</label>
                      </div>
            </div><!--end of col-->
        </div><!---end of row-->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                        <label for="floatingInput">Age:</label>
                      </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                    <label for="floatingSelect">Sex:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Address:</label>
                  </div>
        </div><!--end of col-->
        </div><!---end of row-->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Name of Family / Guardian:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Contact No.:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Address:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="psychosocial">Psychosocial Services</option>
                      <option value="emergency">Emergency Shelter</option>
                      <option value="economic">Economic Assistance</option>
                      <option value="provisions">Provisions of appropriate medical treatment</option>
                      <option value="issuance">Issuance of medical certificate</option>
                      <option value="medico">Medico-legal Exam</option>
                      <option value="receipt">Receipt and recording of Complaints</option>
                      <option value="rescue">Rescue Operations for VAW Cases</option>
                      <option value="medico">Enforcement of Protection Order</option>
                      <option value="forensic">Forensic Interview and Investigation</option>
                    </select>
                    <label for="floatingSelect">Reson for Referral:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Specific Services Requested:</label>
                    <p>Please refer to attached report / intake form / case summary for more information.</p>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Feedback requested and sent to Referring Party / Agency:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Address:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Cellphone No.:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Landline No.:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Email Address:</label>
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Fax No.:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Contact Person:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga">
                    <label for="floatingInput">Referred:</label>
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->


        <h4 class="pt-3 pb-3">Referred: </h4>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <p>Signature over Printed Name</p>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <p>Designation</p> 
            </div><!--end of col-->
        </div><!--End of row-->

        <div class="pt-3">
            <a class="btn btn-primary w-100" href="#" role="button"><i class="bi bi-plus-lg"></i></a>
          </div>       

          <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
            <a class="btn btn-outline-primary me-md-2" href="#" role="button">Back</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#referralConfirm">Send</button>
          </div>
    </div><!--End of container 2-->
</div><!--End of container 1-->

<!-- Save -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Barangay Protection Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            The Report form has been completed. You can edit it anytime if there are changes needed in the information provided.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div><!--end of modal-->

  <!-- send -->
<div class="modal fade" id="referralConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="referralConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="referralConfirmLabel">Referral Form Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Before you proceed to send the referral form, please take a moment to review all entered information carefully. Once submitted, it cannot be altered or undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">View</button>
          <button type="button" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div><!--end of modal-->
{% endblock %}
{% endblock content %}

