{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="row justify-content-end">
        <div class="col-lg-10 col-md-6 col-sm-8">
            <h1 class="pt-5">MONTHLY REPORT</h1>
        </div><!--end of col-->
        <div class="col-lg-2 col-md-2 col-sm-8 pt-5">
            <a class="btn btn-primary" href="#" role="button">GENERATE REPORT</a>
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-3">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Barangay</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Province</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Municipality / City</label>
              </div>
        </div><!--end of col-->
    </div><!--starting of row-->
    <div class="row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Start Date</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">End Date</label>
              </div>
        </div><!--end of col-->
    </div><!--starting of row-->

    <div class="pt-3">
        <h2>SUMMARY</h2>
    </div>

     <!--table-->
     <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
        <table class="table table-hover">
          <tbody>
            <tr class="border-bottom border-2">
              <th>Total number of clients served</th>
              <td></td>
            </tr>
            <tr class="border-bottom border-2">
              <th>Total of cases filed</th>
              <td></td>
            </tr>
            <tr class="border-bottom border-2">
              <th>Total population of Barangay</th>
              <th></th>
            </tr>
            <tr class="border-bottom border-2">
                <th>Female</th>
                <th></th>
              </tr>
              <tr class="border-bottom border-2">
                <th>Male</th>
                <th></th>
              </tr>
          </tbody>
        </table><!--end of table-->
    </div><!--end of div of table-->

         <!--table-->
         <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nature of Case</th>
                <th scope="col">Total Number of Cases Reported</th>
                <th scope="col">Total Number of Cases Acted Upon</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="border-bottom border-2">
                <th>001</th>
                <td>Carla</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>002</th>
                <td>Sofia</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>003</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
            </tbody>
          </table><!--end of table-->
      </div><!--end of div of table-->
 
</div><!--end of container-->



{% endblock %}
{% endblock content %}