{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay incident info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-5">
        <h1 class="pt-3 text-center">Services Information</h1>

        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                <a class="btn btn-primary" href="#" role="button">Crisis Invention Including Rescue</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                <a class="btn btn-primary" href="{% url 'barangay bpo' %}" role="button">Issuance / Enforcement of Barangay Protectin Order</a>
            </div>
        </div><!--End of row-->

        <div class="row pt-4">
            <div class="col-lg-12 col-md-12 col-sm-8 pt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked"><strong>Refer to Social Welfare and  Development Office</strong></label>
            </div><!--End of column-->
        </div><!--End of row-->
        
                <div class="row pt-1">
                        <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">Psychosocial Services</label>
                    </div><!--End of column-->
                    <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">Emergency Shelter</label>
                    </div><!--End of column-->
                    <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">Economic Assistance</label>
                    </div><!--End of column-->
                </div><!--End of row-->

            <div class="row pt-4">
                <div class="col-lg-12 col-md-12 col-sm-8 pt-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked"><strong>Refer to Healthcare Provider</strong></label>
                </div><!--End of column-->
            </div><!--End of row-->

            <div class="row pt-1">
                    <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Provision of Appropriate Medical Treatment</label>
                    </div><!--End of column-->
                   <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                         <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Issuance of Medical Certificate</label>
                   </div><!--End of column-->
                   <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Medico-legal Exam</label>
                   </div><!--End of column-->
            </div><!--End of row-->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-8 pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                        <label for="floatingInput">Name of Healthcare</label>
                      </div>
                   </div><!--End of column-->
            </div><!--end of row-->

            <div class="row pt-4">
                <div class="col-lg-12 col-md-12 col-sm-8 pt-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked"><strong>Refer to Law Enforcement</strong></label>
                   </div><!--End of column-->
            </div><!--End of row-->

                
            <div class="row pt-1">
                <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Receipt of appropriate medical Treatment</label>
                   </div><!--End of column-->
                   <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Rescue Operations for VAW Cases</label>
                   </div><!--End of column-->
            </div><!--End of row-->
            <div class="row pt-1">
                <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Enforcement of Protection Order</label>
                    </div><!--End of column-->
                    <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">Forensic Interview and Investigation</label>
                     </div><!--End of column-->
            </div><!--End of row-->

            <div class="row pt-4">
                <div class="col-lg-12 col-md-12 col-sm-8 pt-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                     <label class="form-check-label" for="flexCheckChecked"><strong>Refer to Other Service Provider</strong></label>
                   </div>
                </div><!--End of column-->
            </div><!--End of row-->

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                        <label for="floatingInput">Type of Service</label>
                    </div>
                </div><!--End of column-->
                <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                        <label for="floatingInput">Name of Service Provider</label>
                    </div>
                </div><!--End of column-->
            </div><!--End of row-->


            <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5 pb-5">
                <a class="btn btn-outline-primary me-md-2" href="{% url 'barangay perpetrator info' %}" role="button">Back</a>
                <a class="btn btn-primary" href="{% url 'barangay referred' %}" role="button">Next</a>
            </div><!--end of buttons-->
        </div><!--idunno whats this-->
    </div><!--End of container 2-->
</div><!--End of container 1-->
{% endblock %}
{% endblock content %}