{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="row justify-content-end">
        <div class="col-lg-10 col-md-6 col-sm-8">
            <h1 class="pt-5">MONTHLY REPORT</h1>
        </div><!--end of col-->
        <div class="col-lg-2 col-md-2 col-sm-8 pt-5">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">GENERATE REPORT</button>
        </div><!--end of col-->
    </div><!--end of row-->

    <div class="row pt-3">
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Barangay</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Province</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Municipality / City</label>
              </div>
        </div><!--end of col-->
    </div><!--starting of row-->
    <div class="row pt-3">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Start Date</label>
              </div>
        </div><!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">End Date</label>
              </div>
        </div><!--end of col-->
    </div><!--starting of row-->

    <div class="pt-3">
        <h2>SUMMARY</h2>
    </div>

     <!--table-->
     <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
        <table class="table table-hover">
          <tbody>
            <tr class="border-bottom border-2">
              <th>Total number of clients served</th>
              <td></td>
            </tr>
            <tr class="border-bottom border-2">
              <th>Total of cases filed</th>
              <td></td>
            </tr>
            <tr class="border-bottom border-2">
              <th>Total population of Barangay</th>
              <th></th>
            </tr>
            <tr class="border-bottom border-2">
                <th>Female</th>
                <th></th>
              </tr>
              <tr class="border-bottom border-2">
                <th>Male</th>
                <th></th>
              </tr>
          </tbody>
        </table><!--end of table-->
    </div><!--end of div of table-->

         <!--table-->
         <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Nature of Case</th>
                <th scope="col">Total Number of Cases Reported</th>
                <th scope="col">Total Number of Cases Acted Upon</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="border-bottom border-2">
                <th>RA 9262 (VAWC)</th>
                <td>Carla</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Physical</th>
                <td>Sofia</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Sexual</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Psychological</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Economic</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr> 
              <tr class="border-bottom border-2">
                <th>RA 8353 (Rape)</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>RA 9208 (Anti-Trafficking)</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>RA 7877 (Sexual Harassment)</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Other Cases</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
              <tr class="border-bottom border-2">
                <th>Program / Activities / Project Implemented</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
              </tr>
            </tbody>
          </table><!--end of table-->
      </div><!--end of div of table-->
 
</div><!--end of container-->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation Report</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="floatingSelectGrid">Send it to:</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% endblock content %}