{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="row justify-content-end">
        <div class="col-lg-6 col-md-6 col-sm-8">
            <h1 class="pt-5">PERPETRATOR</h1>
        </div><!--end of col-->
        <div class="col-lg-4 col-md-4 col-sm-8 pt-5">
            <form class="d-flex justify-content-end" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div><!--end of col-->
        <div class="col-lg-2 col-md-2 col-sm-8 pt-5">
            <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Ascending</a></li>
                    <li><a class="dropdown-item" href="#">Descending</a></li>
                    <li><a class="dropdown-item" href="#">Case No.</a></li>
                </ul>
            </div>
        </div><!--end of col-->
    </div><!--end of row-->

          <!--tabs-->
          <div class="pt-3">
            <ul class="nav nav-tabs pt-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Adult</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Children</a>
              </li>
            </ul>
          </div>
            <!--end of tabs-->

         <!--table-->
         <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">VicId</th>
                <th scope="col">First</th>
                <th scope="col">Middle</th>
                <th scope="col">Last</th>
                <th scope="col">Suffix</th>
                <th scope="col">BrgCase#</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="border-bottom border-2">
                <th>001</th>
                <td>Carla</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="{% url 'barangay perpetrator status' %}" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>002</th>
                <td>Sofia</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>003</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
            </tbody>
          </table><!--end of table-->
      </div><!--end of div of table-->
 
</div><!--end of container-->



{% endblock %}
{% endblock content %}