{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
  <div class="row justify-content-end">
    <div class="col-lg-10 col-md-6 col-sm-8">
        <h1 class="pt-5">BEHALF OF IMPACTED VICTIM</h1>
    </div><!--end of col-->
    <div class="col-lg-2 col-md-2 col-sm-8 pt-5">
        <a class="btn btn-primary" href="{% url 'barangay victim info' %}" role="button"><i class="bi bi-plus"></i> Add Report</a>
    </div><!--end of col-->
</div><!--end of row-->
      <!--tabs-->
    <div class="pt-3">
      <ul class="nav nav-tabs pt-2">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'barangay report' %}">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'barangay report impact victim' %}">Impacted Victim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'barangay report behalf impact victim' %}">Behalf Impacted Victim</a>
        </li>
      </ul>
    </div>
      <!--end of tabs-->
             <!--table-->
        <div class="pt-4 table-responsive-lg table-responsive-md table-responsive-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">VicId</th>
                <th scope="col">First</th>
                <th scope="col">Middle</th>
                <th scope="col">Last</th>
                <th scope="col">Suffix</th>
                <th scope="col">BrgCase#</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr class="border-bottom border-2">
                <th>001</th>
                <td>Carla</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="{% url 'barangay report behalf impact victim status' %}" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>002</th>
                <td>Sofia</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
              <tr class="border-bottom border-2">
                <th>003</th>
                <td>Bernadette</td>
                <td>Otto</td>
                <td>Cruz</td>
                <td>N/A</td>
                <td>150</td>
                <td>Active</td>
                <td class="text-center"><a class="btn btn-outline-success" href="#" role="button">View</a></td>
              </tr>
            </tbody>
          </table><!--end of table-->
      </div><!--end of div of table-->
     
</div><!--end of container-->



{% endblock %}
{% endblock content %}