{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay incident info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-3">
        <h1 class="pt-3 text-center">Geographic Location of Incident</h1>
        <div class="row pt-5">
            <div class="col-lg-3 col-md-3 col-sm-8 pb-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="region-I">Region I – Ilocos Region</option>
                        <option value="region-II">Region II – Cagayan Valley</option>
                        <option value="region-III">Region III – Central Luzon</option>
                        <option value="region-IV">Region IV‑A – CALABARZON</option>
                        <option value="mimaropa">MIMAROPA Region</option>
                        <option value="region-V">Region V – Bicol Region</option>
                        <option value="region-VI">Region VI – Western Visayas</option>
                        <option value="region-VII">Region VII – Central Visayas</option>
                        <option value="region-VIII">Region VIII – Eastern Visayas</option>
                        <option value="region-IX">Region IX – Zamboanga Peninsula</option>
                        <option value="region-X">Region X – Northern Mindanao</option>
                        <option value="region-XI">Region XI – Davao Region</option>
                        <option value="region-XII">Region XII – SOCCSKSARGEN</option>
                        <option value="region-XIII">Region XIII – Caraga</option>
                        <option value="ncr">NCR – National Capital Region</option>
                        <option value="car">CAR – Cordillera Administrative Region</option>
                        <option value="barmm">BARMM – Bangsamoro Autonomous Region in Muslim Mindanao</option>
                    </select>
                    <label for="floatingSelect">Region</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Province</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga City">
                    <label for="floatingInput">City / Mun</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Barangay</label>
                  </div>
            </div><!--End of col-->
        </div><!--End of row-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8 pb-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="Home">Home</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="commercial-places">Commercial Places</option>
                        <option value="religious-institutions">Religious Institutions</option>
                        <option value="placeOfMedicalTreatment">Place of Medical Treatment</option>
                        <option value="transport-ConnectingSites">Transport & Connecting Sites</option>
                        <option value="brothels-SimilarEstablishments">Brothels and Similar Extablishments</option>
                        <option value="peopleOfAuthority">Others</option>
                        <option value="currentFiance">No Response</option>
                    </select>
                    <label for="floatingSelect">Place of Incident</label>
                  </div>
            </div><!--End of col-->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3 pb-3">
                <a class="btn btn-outline-primary me-md-2" href="{% url 'barangay incident info' %}" role="button">Back</a>
                <a class="btn btn-primary" href="{% url 'barangay services info' %}" role="button">Next</a>
              </div>
        </div><!--End of row-->
    </div>
</div>





{% endblock %}
{% endblock content %}