{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="row justify-content-end">
      <div class="col-lg-11 col-md-11 col-sm-8">
          <h1 class="pt-5">MY PROFILE</h1>
      </div><!--end of col-->
      <div class="col-lg-1 col-md-1 col-sm-8 pt-5">
          <a class="btn btn-primary" href="{% url 'barangay victim info' %}" role="button"><i class="bi bi-pen"></i> Edit</a>
      </div><!--end of col-->
  </div><!--end of row-->

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-8">
        <!--image-->
    </div><!--end of col-->

    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="row pt-3">
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Juan">
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Carlos">
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fabian">
                  </div>
            </div><!--end of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <label for="validationCustom04" class="form-label">Suffix</label>
                <select class="form-select" id="validationCustom04" required>
                    <option value="not-available">N/A</option>
                    <option value="sr">Sr</option>
                    <option value="jr">Jr</option>
                    <option value="ii">II</option>
                    <option value="iii">III</option>
                    <option value="iv">IV</option>
                </select>
            </div><!--end of col-->
        </div><!--end of row-->
        <div class="row pt-1">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example@gmail.com">
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="09########">
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->
        <div class="row pt-1">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Agency</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Barangay Tetuan">
                  </div>
            </div><!--end of col-->
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Agency Address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Purok IV, Tetuan, Zamboanga City">
                  </div>
            </div><!--end of col-->
        </div><!--end of row-->
        
    </div><!--end of col-->

  </div><!--end of row-->

  <div><!--end of container-->



{% endblock %}
{% endblock content %}