{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay services info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-5">
        <h1 class="pt-3 pb-3 text-center">Crisis Intervention Including Rescue</h1>

        <h5 class="pt-3 text-center">Your alert has been instrumental in maintaining a safe and pleasant environment for all. We're swiftly reviewing the issue you've raised. If deemed necessary, we'll take immediate and appropriate action.</h5>

        <div class="pt-3 pb-3">
            <hr>
        </div>

        
        

        
    </div><!--End of container 2-->
</div><!--End of container 1-->
{% endblock %}
{% endblock content %}