{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay incident info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-3">
        <h1 class="pt-3 text-center">Services Information</h1>

        <div class="row pt-5">
            <div class="col-lg-3 col-md-3 col-sm-8">
                <a class="btn btn-primary" href="#" role="button">Crisis Invention Including Rescue</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-8">
                <a class="btn btn-primary" href="#" role="button">Issuance / Enforcement of Barangay Protectin Order</a>
            </div>
        </div><!--End of row-->

    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
        <a class="btn btn-outline-primary me-md-2" href="{% url 'barangay perpetrator info' %}" role="button">Back</a>
        <a class="btn btn-primary" href="{% url 'barangay services info' %}" role="button">Next</a>
      </div>
</div>





{% endblock %}
{% endblock content %}