{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-5">
        <a class="text-decoration-none" href="{% url 'barangay bpo' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>
      
         <!--tabs-->
         <div class="pt-3">
          <ul class="nav nav-tabs pt-2">
            <li class="nav-item">
              <a class="nav-link "  href="{% url 'barangay bpo status' %}">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'barangay bpo victim' %}">Victim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'barangay bpo perpetrator' %}">Perpetrator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'barangay bpo incident' %}">Incident</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'barangay bpo services' %}">Services</a>
            </li>
          </ul>
        </div>
          <!--end of tabs-->
  

      <div class="container pt-3">
        <h1 class="pt-3 text-center">Incident Information</h1>

        <div class="pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> RA 9262: Anti Violence against Women and Their Children Act</strong></label>
        </div><!--End of title-->
        <div class="row pt-3">
            <div class="col-lg-2 col-md-2 col-sm-8 pt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Sexual Abuse</label>
              </div><!--End of col-->
              <div class="col-lg-2 col-md-2 col-sm-8 pt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Psychological</label>
              </div><!--End of col-->
              <div class="col-lg-2 col-md-2 col-sm-8 pt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Physical</label>
              </div><!--End of col-->
              <div class="col-lg-2 col-md-2 col-sm-8 pt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">Economic</label>
              </div><!--End of col-->
              <div class="col-lg-2 col-md-2 col-sm-8 pt-2">
                <div class="input-group">
                    <div class="input-group-text">
                      <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Others">
                  </div>
              </div><!--End of col-->
        </div><!--End of row-->
        <div class="pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> RA 8353: Anti-Rape Law of 1995</strong></label>
        </div><!--End of title-->
        <div class="row pt-3">
            <div class="col-lg-6 col-md-6 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Rape by sexual intercourse</label>
            </div>
    
            <div class="col-lg-6 col-md-6 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Rape by sexual assault</label>
            </div>
          </div><!--End of row-->
          <div class="pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> Art 336 of the Revised Penal Code</strong></label>
        </div><!--End of title-->
        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Acts of lasciviousness</label>
            </div>
          </div><!--End of row-->
          <div class="col-lg-12 col-md-12 col-sm-8 pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> RA 7877: Anti-Sexual Harassment Act</strong></label>
        </div><!--End of title-->
        <div class="row pt-3">
            <div class="col-lg-3 col-md-12 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Verbal</label>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Pyhsical</label>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-8">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Use of objects, pictures, letters or notes with sexual under-pinnings</label>
            </div>
          </div><!--End of row-->
          <div class="pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> A 7610: Special Protection of Children Against Child Abuse, Exploitation and Discrimination Act</strong></label>
        </div><!--End of title-->
        <div class="row pb-3">
            <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Engage, facilitate, promote or attempt to commit prostitution</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 pt-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Sexual intercourse or lascivious conduct</label>
            </div>
          </div><!--End of row-->
          <div class="pt-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <strong> RA 9775 Anti-Child Pornography Act</strong></label>
        </div><!--End of title-->

        <div class="pt-4">
          <hr>
        </div>

        <h4 class="pt-3">Accident Information</h4>

        <div class="row pt-2 pb-3">
          <div class="col-lg-4 col-md-4 col-sm-8 pt-3">
              <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Date of Latest Incident</label>
                </div>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault"> Incomplete Date</label>
          </div><!--end of col-->
        </div><!--End of row-->

        <h5 class="pt-3 pb-3">Place of Incident:</h5>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-8 pb-3">
              <div class="form-floating">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option value="Home">Home</option>
                      <option value="work">Work</option>
                      <option value="school">School</option>
                      <option value="commercial-places">Commercial Places</option>
                      <option value="religious-institutions">Religious Institutions</option>
                      <option value="placeOfMedicalTreatment">Place of Medical Treatment</option>
                      <option value="transport-ConnectingSites">Transport & Connecting Sites</option>
                      <option value="brothels-SimilarEstablishments">Brothels and Similar Extablishments</option>
                      <option value="peopleOfAuthority">Others</option>
                      <option value="currentFiance">No Response</option>
                  </select>
                  <label for="floatingSelect">Place of Incident</label>
                </div>
          </div><!--End of col-->
          <div class="col-lg-4 col-md-4 col-sm-8">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                <label for="floatingInput">Street</label>
              </div>
        </div><!--End of col-->
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
              <label for="floatingInput">Barangay</label>
            </div>
      </div><!--End of col-->
      </div><!--end or row-->
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
              <label for="floatingInput">Province</label>
            </div>
      </div><!--End of col-->
      <div class="col-lg-4 col-md-4 col-sm-8">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga City">
            <label for="floatingInput">City / Mun</label>
          </div>
    </div><!--End of col-->
    <div class="col-lg-4 col-md-4 col-sm-8 pb-3">
      <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option value="region-I">Region I – Ilocos Region</option>
              <option value="region-II">Region II – Cagayan Valley</option>
              <option value="region-III">Region III – Central Luzon</option>
              <option value="region-IV">Region IV‑A – CALABARZON</option>
              <option value="mimaropa">MIMAROPA Region</option>
              <option value="region-V">Region V – Bicol Region</option>
              <option value="region-VI">Region VI – Western Visayas</option>
              <option value="region-VII">Region VII – Central Visayas</option>
              <option value="region-VIII">Region VIII – Eastern Visayas</option>
              <option value="region-IX">Region IX – Zamboanga Peninsula</option>
              <option value="region-X">Region X – Northern Mindanao</option>
              <option value="region-XI">Region XI – Davao Region</option>
              <option value="region-XII">Region XII – SOCCSKSARGEN</option>
              <option value="region-XIII">Region XIII – Caraga</option>
              <option value="ncr">NCR – National Capital Region</option>
              <option value="car">CAR – Cordillera Administrative Region</option>
              <option value="barmm">BARMM – Bangsamoro Autonomous Region in Muslim Mindanao</option>
          </select>
          <label for="floatingSelect">Region</label>
        </div>
  </div><!--End of col-->
      </div><!--end of row-->

        <div class="pt-3">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description of Incident</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
         
        <div class="row pt-3+">
          <div class="mb-3">
              <label for="formFileMultiple" class="form-label"><strong>Upload Evidences:</strong></label>
              <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div><!--form to upload-->
  </div><!--End or row-->

          <hr class="pt-3">
          <div class="row">
            <h3>Witness/es:</h3> 
            <p class="opacity-50 pb-3">(This will not be showed to others)</p>
            </div><!--End of row-->

            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Name</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Address</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Contact Number</label>
                  </div>
            </div><!--End of col-->
            <div class="col-lg-3 col-md-3 col-sm-8">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Zamboanga Del Sur">
                    <label for="floatingInput">Eye-Witness Account</label>
                  </div>
            </div><!--End of col-->
          </div><!--End of row-->
          <div class="pt-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3 pb-3">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
          </div><!--padding top-->
        </div><!--end of container-->
    </div><!--end of container-->
     
 
</div><!--end of container-->


{% endblock %}
{% endblock content %}