{% extends "barangay-main.html" %}


{% block content %}
{% block static %}
{% load static %}

<div class="container pt-5">
    <div class="pt-4">
        <a class="text-decoration-none" href="{% url 'barangay services info' %}" role="button"><i class='bx bx-arrow-back'></i> Back</a>
    </div>

    <div class="container pt-5">
        <h1 class="pt-3 text-center">Issuance / Enforcement of Barangay Protection Order</h1>

        

        
    </div><!--End of container 2-->
</div><!--End of container 1-->
{% endblock %}
{% endblock content %}